* {
    background-color: beige;
}
.header {
    font-family: 'Times New Roman', Times, serif;
}
.color1 {
    background-color: lightcoral;
}
.color2 {
    background-color: yellow;
}
.color3 {
    background-color: skyblue;
}
.list a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 800;
background-color: initial;}
